#root {
    width: 23rem;
    background-image: url("../img/markt.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: inherit;
}
#container {
    opacity: 85%;
}
:root {
    --mdc-theme-primary: clear;
    --mdc-theme-secondary: #827717;
}
dt {
    background-color: blue;
    color: var(--mdc-theme-on-primary);
}
h2, dd {
    background-color: var(--mdc-theme-on-primary);
}

.aktiv { background-color: mediumpurple }
.inaktiv { background-color: deepskyblue }
h1, h2, dl {
    margin: 0;
}
h2 {
    padding: 0 0 10px 0;
}
i.material-icons {
    cursor: pointer;
    float: right;
}
button.material-icons {
    font-size: inherit;
    vertical-align: bottom
}
[type="checkbox"] {
    vertical-align: top;
    margin-right: 8px;
}
dt {
    display: flex;
    font-weight: 500;
    padding: 3px 5px;
}
dt span {
    width: 100%;
}
dt, dd {
    height: 2rem;
    font-size: 1.2rem;
}
dd {
    display: flex;
    margin-left: 0;
    margin: 3px;
}
dd label {
    padding: 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
dd label input[type="checkbox"] {
    margin: 6px 6px;
}
dd input[type="search"] {
    margin-left: 1.5rem;
}
.mdc-text-field {
    height: 2rem;
    width: 100%;
}

label {
    width: 91%;
    cursor: pointer
}
footer {
    display: flex;
    justify-content: space-between;
}

.mdc-dialog {
    opacity: 100%;
}
.mdc-dialog__surface {
    position: absolute;
    top: 10%;
    left: 25px;
}
.material-icons {
    padding-left: 5px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    text-shadow: 5px 5px 12px black;
    font-size: xxx-large;

}

footer {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

h2{
    padding-left: 5px;
    color: #black;

}